.img-container {
    position: relative;
    width: 100%;
  }
  
  .image {
    width: 100%;
    height: 200px;
  }
  
  .img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 139, 186, 0.658);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .img-container:hover .img-overlay {
    height: 12%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .pre-next-page{
      float: right;
  }
  h2{
    width: 100%;
  }
  .wrap-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    height: 49px;
    line-height: 152%;
    font-weight: bold;
    margin-top: 9px;
    font-size: 16px;
  }
  .doc-user-name{
    width: 70%;
    height: 27px;
    overflow: hidden;
    /* border: 1px solid black; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.space{
    margin-left: 10px;
    color: darkcyan;
    margin-top: 10px;
}
.top-bg {
    background-color: darkcyan;
    padding: 12px;
    width: 100%;
    font-family: 'Bayon', cursive;
    font-size: 14px;
}
.child-1 {
    margin-left: 10px;
    padding-top: 10px;
    color: darkcyan;
    background-color: white; 
   
}
a{
    color: #cccccc   ;
   width: 100%;
}
a:hover{
    color:darkkhaki;
}

.last-child {
    margin-left: 10px;
    color: darkcyan;
}
.font{
    font-family: Khmer os content
}
.darkcyan{
  background-color: darkcyan
}
.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}
/* 
h2:after {
  position: absolute;
  content: "";
  border: 10px solid #045D4F;
  left: -20px;
  top: 44px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  z-index: -999;
}
*, ::after, ::before {
  box-sizing: border-box;
}

h2:before {
  position: absolute;
  content: "";
  border: 22px solid #048077;
  left: -20px;
  z-index: -99;
  top: 0;
} */

#h2:after {
  position: absolute;
  content: "";
  border: 10px solid #045D4F;
  left: -20px;
  top: 44px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  z-index: -999;
}
*, ::after, ::before {
  box-sizing: border-box;
}

#h2:before {
  position: absolute;
  content: "";
  border: 22px solid #048077;
  left: -20px;
  z-index: -99;
  top: 0;
}

